
@{
    ViewBag.Title = "About Us";
}

<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="~/wwwroot/dist/css/Team.css" />
<html>
<body>
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12">
            @*<div class="dotted3 os-animation" data-os-animation="bounceInLeft" data-os-animation-delay="1s" style="margin-bottom:50px;"></div>*@
            <div class="special">
                <h2 class="os-animation" data-os-animation="bounceInDown" data-os-animation-delay="0.50s" style="margin-bottom:50px;">Meet Our Team</h2>
                @*<div class="dotted4 os-animation" data-os-animation="bounceInRight" data-os-animation-delay="1s" style="margin-bottom:50px;"></div>*@
            </div>
        </div>
        <div class="row">
            <figure class="food os-animation" data-os-animation="fadeInDown" data-os-animation-delay="2s">
                <div class="column">
                    <div class="card">
                        <div style="height:160px; ">
                            <a href="https://www.facebook.com/SiThuHtetAung.AJ" target="_blank">
                                <img src="~/wwwroot/dist/images/10.jpeg" alt="Si Thu Htet Aung" style="width:100%;">
                            </a>
                        </div>
                        <div class="tc">
                            <h2>Mr. Si Thu Htet Aung</h2>
                            <p class="t">CEO, CTO, UI Designer, Web Developer.</p>
                            <p>Some text that describes me .</p>
                            <p>nyinyi638@gmail.com</p>
                        </div>
                    </div>
                </div>
            </figure>
            <figure class="food os-animation" data-os-animation="fadeInDown" data-os-animation-delay="2.2s">
                <div class="column">
                    <div class="card">
                        <div style="height:160px; ">
                            <a href="#" target="_blank">
                                <img src="~/wwwroot/dist/images/user.gif" alt="User Img" style="width:100%; ">
                            </a>
                        </div>
                        <div class="tc">
                            <h2>Mr. Blah Blah</h2>
                            <p class="t">Project Leader</p>
                            <p>Some text that describes me.</p>
                            <p>example@example.com</p>
                        </div>
                    </div>
                </div>
            </figure>
            <figure class="food os-animation" data-os-animation="fadeInDown" data-os-animation-delay="2.4s">
                <div class="column">
                    <div class="card">
                        <div style="height:160px; ">
                            <a href="#" target="_blank">
                                <img src="~/wwwroot/dist/images/user.gif" alt="User Img" style="width:100%; ">
                            </a>
                        </div>
                        <div class="tc">
                            <h2>Ms. Blah Blah</h2>
                            <p class="t">Member</p>
                            <p>Some text that describes me .</p>
                            <p>example@example.com</p>

                        </div>
                    </div>
                </div>
            </figure>
            <figure class="food os-animation" data-os-animation="fadeInDown" data-os-animation-delay="2.6s">
                <div class="column">
                    <div class="card">
                        <div style="height:160px; ">
                            <a href="#" target="_blank">
                                <img src="~/wwwroot/dist/images/user.gif" alt="User Img" style="width:100%; ">
                            </a>
                        </div>
                        <div class="tc">
                            <h2>Mr. Blah Blah</h2>
                            <p class="t">Member</p>
                            <p>Some text that describes me .</p>
                            <p>example@example.com</p>

                        </div>
                    </div>
                </div>
            </figure>
            <figure class="food os-animation" data-os-animation="fadeInDown" data-os-animation-delay="2.8s">
                <div class="column">
                    <div class="card">
                        <div style="height:160px; ">
                            <a href="#" target="_blank">
                                <img src="~/wwwroot/dist/images/user.gif" alt="User Img" style="width:100%; ">
                            </a>
                        </div>
                        <div class="tc">
                            <h2>Mr. Blah Blah</h2>
                            <p class="t">Member</p>
                            <p>Some text that describes me .</p>
                            <p>example@example.com</p>
                        </div>
                    </div>
                </div>
            </figure>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12">
            @*<div class="dotted3 os-animation" data-os-animation="bounceInLeft" data-os-animation-delay="0.50s" style="margin-bottom:50px;"></div>*@
            <div class="special">
                <h2 class="os-animation" data-os-animation="bounceInDown" data-os-animation-delay="0.50s" style="margin-bottom:50px;"> ABOUT - PHOTOLIO</h2>
                @*<div class="dotted4 os-animation" data-os-animation="bounceInRight" data-os-animation-delay="0.50s" style="margin-bottom:50px;"></div>*@
            </div>
        </div>
        <p class="food os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1s">
            This website is for all photographers. I used C# ASP.Net MVC form by using bootstrap for responsive.
            AJAX can be compatible with ASP.NET.It almost supports all popular browsers such as Internet Explorer 5 and above, Mozilla Firefox 1.0 and above,
            Apple Safari 1.2 and above, Opera 7.6 and above, and RockMelt. So I used Ajax.SON is the best tool for the sharing data of any size even audio, video etc.
            This is because JSON stores the data in the arrays so data transfer makes easier.
            For this reason, JSON is a superior file format for web APIs and for web development.
        </p>
    </div>
    <br />
    <br />
</body>
</html>

